/* footer {
    display: flex;
    justify-content: left;
    height:160px;
    padding: 2rem;
    background: var(--accent-color-1);
    /* border-top: 1px solid #fff; 
    box-shadow: var(--shadow-lg);

    p {
        font-family: var(--font-family);
    }
} */

.footer {
    background-color: #111;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer-nav {
    margin-bottom: 1rem;
}

.footer-link {
    color: #ff3e0e;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #f07253;
    /* text-decoration: underline; */
}

.footer-copy {
    color: #aaa;
    font-size: 0.875rem;
}
