.headline {
    margin: 5rem auto;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.4rem;
    font-family: "RocknRoll One", sans-serif;
    font-style: normal;
    /* font-family: 'Bebas Neue', 'sans-serif';  */
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 74%;
    line-height: 3rem;


    @media (max-width: 648px) {
        font-size: 2.5rem;
        width: 90%;
        line-height: 1.5rem;
    }

    @media (max-width: 468px) {
        font-size: 2rem;
        width: 95%;
    }
}

/* Social Media Links */
.social-links { 
    margin-top: 20px;
}

.social-links a {
    color: #1634db;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #fff;
}