.gig {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  margin: 1rem auto;
  padding: 1.4rem 0.8rem;
  max-width: 700px;

  border: 1px solid #fff;
  border-radius: var(--radius-sm);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  /* etwas tieferer Schatten */

  opacity: 0;
  /* transform: translateY(30px); */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.gig h3 {
  border-bottom: 1px solid rgb(0, 97, 224);
}

.gig.visible {
  opacity: 1;
  transform: translateY(0);
}

.gig:hover {
  background: rgba(0, 1, 98, 0.05);
  /* leichter heller Hintergrund */
  background: rgb(0, 97, 224);
  box-shadow: var(--shadow-md);
  /* border: 1px solid rgb(0, 97, 224);  */
  /* transform: scale(1.02); */
  transition: all 0.3s ease-in-out;

  h3 {
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  .date span:nth-child(1) {
    color: #fff;
  }

  .ticket-button {
    background: #fff;
    color: rgb(0,97,224);
  }

}