#next-gigs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--space-lg);
    padding-bottom: var(--space-lg);
    padding-top: 1rem;
    margin: auto;

    /* background-color: var(--bg-color); */

    text-align: center;

    @media (max-width: 468px) {
        gap: 1.1rem;
    }   

    @media (max-width: 386px) {
        gap: 0.7rem;
    }
}