#about-me {
    background: rgb(228, 204, 204);
    text-align: center;
    padding: var(--space-sm);
    padding-bottom: 0;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    /* verhindert das Rausragen */
}

.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
}

.about-image {
    width: 100%;
    max-width: 350px;
    height: 500px;
    /* feste Höhe, um z. B. nur Oberkörper zu zeigen */
    overflow: hidden;
    border-radius: 1.5rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    /* zeigt oberen Bildbereich */
    display: block;
    border-radius: 1.5rem;
}

.about-text {
    color: #000;
    text-align: left;
    z-index: 2;
    position: absolute;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 50px 150px;
    flex-wrap: wrap;
    width: 210px;
    margin-top: -5rem;
}

.social-icons a {
    display: inline-block;
    width: 67px;
    height: 67px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(1.25);
}

.social-icons a:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

.social-icons a img {
    padding: 0.5rem;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}


/* Farben */
.social-icons a:nth-child(1) img {
    background: rgb(247, 88, 25);
}

.social-icons a:nth-child(2) img {
    background: rgb(205, 32, 31);
}

.social-icons a:nth-child(3) img {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.social-icons a:nth-child(4) img {
    background: rgb(212, 182, 10);
}

/* Responsive Social Arc */
@media (min-width: 765px) {
    .social-arc {
        position: relative;
        width: 600px;
        height: 220px;
        /* margin: 0 auto 28rem; */
    }

    .social-arc a {
        position: absolute;
        width: 60px;
        height: 60px;
        transition: transform 0.3s ease;

    }

    .social-arc a img {
        width: 100%;
        height: 100%;
        box-shadow: -1px 2px 5px black;
    }

    .social-arc a:nth-child(1) {
        left: 0;
        top: 50%;
    }

    .social-arc a:nth-child(2) {
        left: 20%;
        top: 0;
    }

    .social-arc a:nth-child(3) {
        right: 20%;
        top: 0;
    }

    .social-arc a:nth-child(4) {
        right: 0;
        top: 50%;
    }
}

@media (max-width: 768px) {
    .social-arc {
        width: 380px;
        height: 100px;
    }

    .social-arc a {
        width: 65px;
        height: 65px;
    }
}